body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6bbbb;
}
.inline-semantic {
    font-weight: bold;
    color: #1e90ff;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
    align-items: center;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
    margin: 10px 0;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
